<div class="mdl-layout__drawer">
    <span class="mdl-layout-title"><%= title %></span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/"><i class="material-icons">home</i>Home</a>
        <a class="mdl-navigation__link" href="/feed"><i class="material-icons">list</i>Feed</a>
    </nav>
</div>


<div class="offline_div alert alert-danger" id="offline_div" style="display:none;"><strong>You are offline</strong>
</div>
