<!DOCTYPE html>
<html>

<% include ../views/templates/head %>

<style>
    /* Always set the map height explicitly to define the size of the div
                   * element that contains the map. */
    #map {
        height: 425px;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

</style>

<body>
    <div id="app">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <% include ../views/templates/header %>
            <% include ../views/templates/nav %>
            <main class="mdl-layout__content mat-typography">
                <div id="map"></div>
                <script>
                    function initMap() {
                        var myLatLng = { lat: 53.383333, lng: -1.466667 };

                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 4,
                            center: myLatLng
                        });

                        var marker = new google.maps.Marker({
                            position: myLatLng,
                            map: map,
                            title: 'Hello World!'
                        });
                    }
                </script>
            </main>
        </div>
    </div>
</body>

<script async defer src=<%= gmaps%>></script>

</html>
