<!DOCTYPE html>
<html>

<% const title = global.page_titles[page] %>
<% include ../views/templates/head %>

<body>
    <header class="login-ctn jumbotron jumbotron-fluid text-center bg-dark text-white">
        <div class=" bg-dark text-white">
            <h1>Register</h1>
            <input id="email" type="text" class="input-bar form-control" placeholder="Email">
            <input id="name" type="text" class="input-bar form-control" placeholder="Username">
            <input id="pswd" type="password" class="input-bar form-control" placeholder="Password">
            <button id="register-btn" type="button" class="btn-md btn-block btn-secondary">Register</button>
            <p>Share you festival experiences</p>
        </div>
    </header>
</body>

</html>
